.fbIndex .gradient{background:url(../images/gradientBg.png) repeat-x;background:-webkit-linear-gradient(top, white, #D3D8E8)}
.fbIndex .gradient{min-width:980px}
.fbIndex .gradient .gradientContent{margin:0 auto;width:980px}
.clearfix:after{clear:both;content:".";display:block;font-size:0;height:0;line-height:0;visibility:hidden}
.clearfix{zoom:1}
.fbIndexFeaturedRegistration .feature{width:550px}
.fbIndexFeaturedRegistration .signupForm{padding:43px 0 0 15px;width:383px}
.fbIndexFeaturedRegistration .headerTextContainer{border-bottom:1px solid #9aafca;width:354px}
.fbIndexFeaturedRegistration .mainTitle{color:#0e385f;font-size: 18px}
.fbIndexFeaturedRegistration .subtitle{color:#0e385f;font-size: 15px}
.fbIndexFeaturedRegistration .pagesSection{margin-right:25px}
.fbIndexFeaturedRegistration #reg_box .large_form label{font-weight:normal}
.lfloat{float:left}
.rfloat{float:right}
.mbm{margin-bottom:10px}
.phm{padding-left:10px;padding-right:10px}
.mbs{margin-bottom:5px}
.fsl{font-size: 13px}
.fwb{font-weight:bold}
.fcb{color:#333}
.fsm{font-size: 11px}
.fwn{font-weight:normal}
.fcg{color:gray}
.simple_registration_container{margin:0 auto 0 auto;padding-bottom:30px}
.registration .simple_registration_container{width:400px}
.registration #reg_box .label{color:#666;font-weight:bold;padding:6px 10px 0 0}
.registration #reg_box label{color:#666}
.registration #reg_box .inputtext,.registration #reg_box .inputpassword{border-color:#bdc7d8;margin:0}
.registration #reg_box select{margin:1px 0}
.registration #reg_box .label{white-space:normal}
.registration #reg_box .error_field #birthday_month{margin-left:1px}
.registration #reg_box .error_field #birthday_year{margin-right:1px}
.registration #reg_box .error_field #sex{margin:1px 1px}
.registration #reg_box .error_field input.inputtext,.registration #reg_box .error_field input.inputpassword{border-color:#dd3c10}
#reg_box #reg div.large_form{padding-left:0}
#reg_box #reg div.large_form td.label{font-size: 13px;width:105px;padding-right:3px}
#reg_box #reg div.large_form td.big_label{font-size: 15px}
#reg_box #reg div.large_form div.field_container input{padding:6px;font-size: 16px;width:250px}
#reg_box #reg div.large_form div.field_container select{font-size: 13px;padding:5px;height:30px}
#reg_box #reg div.large_form #birthday_warning{font-size: 11px}
#reg_box #reg div.large_form div.reg_btn{margin:0 0 0 110px}
#reg_box #reg div.large_form.password_confirm div.reg_btn{margin:0 0 0 130px}
#reg_box #reg div.reg_btn label input{font-size: 13px;padding:3px 25px 5px}
#reg_box #reg div.reg_btn label.big_label input{font-size: 16px}
#reg_box #reg div.large_form.password_confirm td.label{width:125px}
#reg_form_box .editor{margin:0 0 7px 0}
#reg_box{padding:0;margin:0}
#reg_box .label{color:#1d2a5b;text-align:right;padding-right:3px;width:90px}
#reg_box label{color:#1d2a5b;font-weight:bold;vertical-align:middle}
#reg_box .inputtext,#reg_box .inputpassword{width:206px;border-color:#96a6c5;margin-top:2px}
#reg_box select{margin:2px 0 0 0}
#reg_box #birthday_warning{font-size: 9px;margin-left:1px}



