/*1324269507,169775813*/

table.component_table{padding-left:5px;padding-top:5px}
table.component_table td.icons{width:20px;text-align:center;vertical-align:middle}
table.component_table td.content{white-space:nowrap;width:200px}
table.component_table td.phone_content{width:100px}
table.component_table td.actions{padding-left:10px;text-align:left;vertical-align:middle}
.mirror_security_level{padding-top:5px}
.mirror_security_level .mirror_help_link{padding-top:4px}
.mirror_interstitial .uiInterstitialBar .pts{padding-top:0}
.mirror_steps{margin:auto;width:555px}
.mirror_interstitial .uiButton{display:none}
.mirror_interstitial .mirror_wizard_submit{display:block}
.mirror_wizard_mode .mirror_wizard_submit{display:none}
.mirror_interstitial .mirror_wizard_next{display:none}
.mirror_show_email #mirror_wizard_next_email{display:block}
.mirror_show_phone #mirror_wizard_next_phone{display:block}
.mirror_show_secq #mirror_wizard_next_secq{display:block}
.no_js .mirror_show_email #mirror_wizard_next_email.mirror_wizard_next{display:none}
.no_js .mirror_show_phone #mirror_wizard_next_phone.mirror_wizard_next{display:none}
.no_js .mirror_show_secq #mirror_wizard_next_secq.mirror_wizard_next{display:none}
.no_js .mirror_wizard_submit{display:block}
.mirror_wizard_mode .mirror_section{display:none}
.mirror_wizard_mode .mirror_steplist{display:none}
.mirror_wizard_mode li.pbm{padding:0}
.mirror_wizard_mode li.pvm{padding:0}
.mirror_wizard_mode li.ptm{padding:0}
.mirror_wizard_mode .uiListMedium{border:none}
.mirror_show_email #mirror_section_email{display:block}
.mirror_show_phone #mirror_section_phone{display:block}
.mirror_show_secq #mirror_section_secq{display:block}
.mirror_show_email #mirror_steplist_email{display:block}
.mirror_show_phone #mirror_steplist_phone{display:block}
.mirror_show_secq #mirror_steplist_secq{display:block}
.no_js .mirror_show_email #mirror_steplist_email{display:none}
.no_js .mirror_show_phone #mirror_steplist_phone{display:none}
.no_js .mirror_show_secq #mirror_steplist_secq{display:none}
.no_js .mirror_wizard_mode .mirror_section{display:block}
#mirror_info_summary_tbl td,
#mirror_info_summary_tbl td.label,
#mirror_info_summary_tbl th.label,
#mirror_info_summary_tbl #mirror_email_list{font-size: 13px}
#mirror_info_summary_tbl #mirror_email_list{margin:0}
#mirror_change_name_section,
#mirror_change_name_section td,
#mirror_change_dob_section,
#mirror_change_dob_section td{font-size: 13px}
#captcha fieldset{border-top:1px solid #c0c0c0;border-bottom:1px solid #c0c0c0;margin:0;padding:10px}
#captcha legend{color:gray}
#captcha .divider{display:none}
#captcha .captcha_refresh{font-size: 9px;color:gray}
#captcha .captcha_other_options{padding-top:5px;font-size: 9px}
#captcha .recaptcha_text{font-size: 11px;line-height:16px}
#captcha .captcha_optout{font-size: 11px;padding:10px 0 5px}
#captcha #recaptcha_image{font-weight:bold;margin:10px 0 0 0}
#captcha #recaptcha_image a.recaptcha_audio_cant_hear_link{font-size: 9px;font-weight:normal}
#captcha .captcha_loading{border:0}
#captcha .captcha_image img{border:1px solid #c0c0c0}
#captcha .captcha_input input{direction:ltr;margin-top:4px;width:137px}
#captcha .captcha_input label{margin-right:4px}
.register #captcha .captcha_input label{color:#666;font-weight:bold}
#generic_dialog.captcha .generic_dialog_popup{width:340px}
#generic_dialog.captcha #generic_dialog_popup{border:0 solid white;margin:auto}
#generic_dialog.captcha #generic_dialog_popup legend{display:none}
.audiocaptcha{overflow:hidden;display:block;margin:0;padding:0}
.audiocaptcha a{display:block}
.recaptcha_is_showing_audio .recaptcha_only_if_image{display:none !important}
.recaptcha_is_showing_audio .recaptcha_only_if_audio{display:inline !important}
.recaptcha_had_incorrect_sol .recaptcha_only_if_no_incorrect_sol{display:none !important}
.recaptcha_nothad_incorrect_sol .recaptcha_only_if_incorrect_sol{display:none !important}
.recaptcha_whats_this{margin-left:15px;display:inline}
.captcha_interstitial{border:1px solid #ccc;margin:20px auto;padding:20px;width:555px}
#smsscarce_captcha_instructions{margin-top:5px}
form.checkpoint{margin:auto;width:100%}
.checkpointThumbnail{width:515px}
div.checkpointInterstitialSmall{width:445px}
div.checkpointInterstitialLarge{width:555px}
div.checkpointInterstitialXlarge{width:665px}
div.checkpointInterstitialFriendPhoto{width:1100px}
.checkpoint #friendphotocaptcha_intro{width:inherit}
.checkpoint_me_landing_buttons{padding-top:10px;text-align:center}
.checkpoint .subsection{margin-left:30px}
div.challengeMessage{padding-bottom:10px}
div.challengeChooserFooter{padding-top:10px}
#blueBarHolder.loggedOut{height:auto}
.fbIndex .uiWashLayoutBlueWash{background-color:#dde2ed}
.fbIndex .contentContainer{margin:0 auto 0 auto;width:980px}
.fbIndex .bodyWash{margin-bottom:0}
.fbIndex .locales{margin:10px auto 0;width:964px}
.fbIndex .gradient{background:url(https://s-static.ak.facebook.com/rsrc.php/v1/yB/r/TwAHgQi2ZPB.png) repeat-x;background:-webkit-linear-gradient(top, white, #F5F4EF)}
.fbIndex .gradient{min-width:980px}
.fbIndex .gradient .gradientContent{margin:0 auto;width:980px}
.fbIndexFeaturePhone{height:295px;padding-top:45px;width:550px}
.fbIndexFeaturePhone .phoneImage{margin-left:30px}
.fbIndexFeaturePhone .rightSide{width:360px}
.fbIndexFeaturePhone .listAndButton{border-bottom:1px solid #aaa;padding-bottom:30px}
.fbIndexFeaturePhone .title,
.fbIndexFeaturePhone .subtitle{color:#203360;font-weight:bold}
.fbIndexFeaturePhone .title{font-size: 22px}
.fbIndexFeaturePhone .subtitle{font-size: 15px;margin-right:50px}
.fbIndexFeaturePhone .list{font-size: 14px}
.fbIndexFeaturePhone .listelt{font-size: 15px;padding-bottom:10px;color:#888}
.fbIndexFeaturePhone .mobileButton{margin-top:10px;padding-top:5px;padding-bottom:5px;padding-left:30px;padding-right:30px}
.fbIndexFeaturePhone .logoGrid{margin-top:20px;margin-bottom:20px}
.fbIndexFeaturePhone .belowLineSpecial{width:380px}
.fbIndexMap .title{color:#0e385f;font-size: 20px;line-height:29px;margin-top:40px;width:450px;word-spacing:-1px}
.fbIndexMap .map{background:transparent url(https://s-static.ak.facebook.com/rsrc.php/v1/yi/r/OBaVg52wtTZ.png) no-repeat;height:195px}
.fbIndexMobile{height:295px;background:url(https://s-static.ak.facebook.com/rsrc.php/v1/yK/r/BFOd681AL3h.png) bottom left no-repeat;padding-top:45px;width:537px}
.fbIndexMobile .phoneImage{margin-left:50px}
.fbIndexMobile .rightSide{width:370px}
.fbIndexMobile .title,.fbIndexMobile .subtitle{color:#203360}
.fbIndexMobile .title{font-size: 20px;font-weight:normal}
.fbIndexMobile .subtitle{font-size: 15px}
.fbIndexMobile .mobileButton{margin-top:55px}
.fbIndexFeaturedRegistration .feature{width:550px}
.fbIndexFeaturedRegistration .signupForm{padding:43px 0 0 15px;width:383px}
.fbIndexFeaturedRegistration .headerTextContainer{border-bottom:1px solid #9aafca;width:354px}
.fbIndexFeaturedRegistration .mainTitle{color:#0e385f;font-size: 18px}
.fbIndexFeaturedRegistration .subtitle{color:#0e385f;font-size: 15px}
.fbIndexFeaturedRegistration .pagesSection{margin-right:25px}
.fbIndexFeaturedRegistration #reg_box .large_form label{font-weight:normal}
.localeSelectorList a.showMore{background-color:#eceff5;padding:0 6px 2px}
.localeSelectorList a.showMore:hover{background-color:#6d84b4;color:#fff;text-decoration:none}
.login_page .title_header{margin:0 0 10px 0;padding:0 0 10px 0}
.login_page .login_page_spacer{height:35px}
.login_page .title_header h2.no_icon{background:transparent none repeat scroll 0;margin:0;padding:0}
.login_page #loginform{clear:left;margin:auto;padding:15px 0;text-align:left;width:380px}
.login_page #signup_area{clear:left;margin:auto;width:380px}
.login_page .signup_button{float:left}
.login_page .fbLoginNuxTrackingPixel{display:inline;height:0;width:0}
.login_page .signup_text{float:left;width:200px;margin:0 0 20px 10px}
.login_page hr{width:280px;margin-left:0}
.login_page #loginform p{line-height:16px;margin:10px 0;text-align:left}
.login_page #loginform p.reset_password{margin-bottom:0;padding-bottom:0}
.login_page .apinote{margin:10px auto;width:450px;background:#fff}
.login_page .apinote h2{font-size: 12px;margin-bottom:6px}
.login_page .login_form_container .dialog_buttons{background-color:#f2f2f2;border-top:1px solid #ccc;bottom:0;left:0;margin:0;padding:8px 10px;position:absolute;right:0;text-align:right}
.login_page .dialog_buttons .logged_in_as{float:left;width:240px;margin-top:3px;text-align:left}
.login_page .dialog_buttons .register_link{float:left;text-align:left;margin-top:4px;font-weight:bold}
.login_page #email{direction:ltr}
.login_page #error{margin-top:20px}
div.login_page_interstitial{margin-bottom:0;width:640px}
.login_page .localeSelectorList{margin:0 auto 40px;width:640px}
.login_page #booklet #content{float:none;margin-bottom:46px;padding:15px 30px 20px 30px;width:auto}
.login_page #booklet #loginform{margin-top:20px;padding-top:0}
.login_page #booklet #dialog_buttons input{margin:0}
.form_row{padding:0 0 8px 0;text-align:left}
.form_row .login_form_label{display:block;float:left;padding:3px 0;width:100px}
.form_row input{margin:0}
.form_row .inputtext,.inputpassword{width:175px}
.form_row .checkbox{float:left;width:15px;margin:5px 4px 2px 0}
.persistent{padding:3px 0 3px 100px}
#login_button_inline{float:left;margin-bottom:5px;margin-right:5px}
#register_link{margin-top:5px;float:left}
#buttons{padding:5px 0 0 100px;text-align:left}
#buttons .uiButton{margin-right:2px}
#buttons label{float:none;width:auto}
.reset_password,.not_me_link{padding-left:100px}
.reset_password label{float:none;font-weight:normal;width:auto}
.reset #content{padding:20px}
.lo_user li.objectListItem{padding-top:0;padding-bottom:0;list-style-type:none}
.loginhelp_search_list li.objectListItem{list-style-type:none;width:400px}
.louser_badpw li.objectListItem{list-style-type:none;width:400px}
.loginhelp_isitme li.objectListItem{width:400px}
td.auxCell{width:50%}
.menu_login_container table tr{vertical-align:top}
.menu_login_container table tr td{padding:0 0 0 14px}
.menu_login_container .html7magic{padding-bottom:4px}
.menu_login_container .inputtext,
.menu_login_container .inputpassword{border-color:#1d2a5b;margin:0;width:142px}
.menu_login_container .login_form_label_field label,
.menu_login_container .login_form_label_field a{color:#98a9ca;font-weight:normal}
.menu_login_container .login_form_label_field{padding-top:4px}
.menu_login_container .html7magic label{color:#fff;font-weight:normal;padding-left:1px}
.menu_login_container #email{direction:ltr}
.loggedout_menubar_container{background-color:#3b5998;height:82px;min-width:980px}
.loggedout_menubar{margin:0 auto;padding-top:13px;width:964px}
.loggedout_menubar .fb_logo{margin-left:18px;margin-top:17px}
.signup_bar_container{background-color:#edeff4;border-bottom:1px solid #d8dfea}
.signup_box{color:#203360;display:block;font-size: 13px;font-weight:bold;line-height:normal;padding:14px 22px;width:920px;margin:0 auto}
.signup_box_content{float:left;font-size: 13px;font-weight:bold;padding:4px 14px 6px}
.signup_box_submessage{clear:left;display:block;font-size: 13px;font-weight:normal;padding:3px 0 0 0}
.signup_box .signup_btn{float:left}
.simple_registration_container{margin:0 auto 0 auto;padding-bottom:30px}
.registration .simple_registration_container{width:400px}
#main_container .UIWindowShade{padding-top:20px}
#main_container{width:600px;margin:0 auto 30px auto}
#reg_form_box{padding-left:30px}
#main_container #error{margin-top:20px}
#main_container .trust_badge_top{width:400px;margin:0 auto}
#main_container .trust_badge_bottom{padding-left:173px;padding-right:20px}
#main_container .truest_logo_bottom{padding-left:160px;padding-right:20px}
.registration #reg_box .label{color:#666;font-weight:bold;padding:6px 10px 0 0}
.registration #reg_box label{color:#666}
.registration #reg_box .inputtext,.registration #reg_box .inputpassword{border-color:#bdc7d8;margin:0}
.registration #reg_form_box .reg_btn{margin:1px 0 0 102px}
.registration #reg_captcha{margin:0 0 0 22px}
.registration #captcha_buttons{clear:left;margin-left:24px}
.registration #reg_captcha h2{color:#222}
.registration #captcha .captcha_input{position:relative}
.registration #captcha .captcha_input input,.registration #captcha .captcha_input #captcha_response{margin:0;float:none}
.registration #captcha_response{margin-left:0}
.registration #reg_box select{margin:1px 0}
.registration #reg_box .label{white-space:normal}
.registration #reg_box .error_field #birthday_month{margin-left:1px}
.registration #reg_box .error_field #birthday_year{margin-right:1px}
.registration #reg_box .error_field #sex{margin:1px 1px}
.registration p.legal_tos{clear:left}
.registration #reg_captcha #captcha div.captcha_input{display:inline-block;overflow:visible}
.registration #reg_captcha #captcha div.captcha_input input{width:auto}
.registration #reg_captcha label{margin-top:3px}
.registration .field_container{margin:2px 0 1px 0}
.registration #reg_box .error_field input.inputtext,.registration #reg_box .error_field input.inputpassword{border-color:#dd3c10}
.pagesSection{border-top-color:#a0a9c0;border-top-style:solid;text-align:center;font-weight:bold;border-top-width:1px;margin-top:10px;font-size: 11px;padding-top:10px;color:#666}
.registration .pagesSection{border-top-color:#ccc;margin-top:20px}
.registration .cancel_button_image{background-image:url(https://s-static.ak.facebook.com/rsrc.php/v1/yS/r/STeWPW2kh0m.png);background-repeat:no-repeat;float:left;height:17px;margin:6px 0 0;width:12px}
.registration #cancel_button{border:0 solid transparent;color:#3b5998;float:left;font-size: 12px;font-weight:bold;line-height:14px;margin:6px 0 0;width:75px}
.async_status{margin-left:10px;position:relative;top:3px}
.simple_registration_container .tos_container{margin-top:12px}
.registration .tos_container{margin-left:22px}
#reg_email__{direction:ltr}
#reg_box #reg div.large_form{padding-left:0}
#reg_box #reg div.large_form td.label{font-size: 13px;width:105px;padding-right:3px}
#reg_box #reg div.large_form td.big_label{font-size: 15px}
#reg_box #reg div.large_form div.field_container input{padding:6px;font-size: 16px;width:250px}
#reg_box #reg div.large_form div.field_container select{font-size: 13px;padding:5px;height:30px}
.field_container{display:inline-block;position:relative;width:auto}
#reg_box #reg div.large_form #birthday_warning{font-size: 11px}
#reg_box #reg div.large_form div.reg_btn{margin:0 0 0 110px}
#reg_box #reg div.large_form.password_confirm div.reg_btn{margin:0 0 0 130px}
#reg_box #reg div.reg_btn label input{font-size: 13px;padding:3px 25px 5px}
#reg_box #reg div.reg_btn label.big_label input{font-size: 16px}
#reg_box #reg div.large_form.password_confirm td.label{width:125px}
#conf_code_input input{width:70px}
.securityq_prompt{padding-bottom:12px}
.sp_4h9th7{background-image:url(https://s-static.ak.facebook.com/rsrc.php/v1/yb/r/kKKPqpkWCIL.png);background-repeat:no-repeat;display:inline-block;height:58px;width:62px}
.sx_b200b3{background-position:-0px -73px}
.sx_5cf433{width:108px;height:72px;background-position:-0px -0px}
.sp_ae3a73{background-image:url(https://s-static.ak.facebook.com/rsrc.php/v1/yM/r/3UtifW54pTv.png);background-repeat:no-repeat;display:inline-block;height:80px;width:80px}
.sx_035302{width:75px;height:75px;background-position:-0px -486px}
.sx_913322{background-position:-0px -324px}
.sx_291399{width:88px;height:24px;background-position:-0px -299px}
.sx_7fc13c{background-position:-0px -405px}
.sx_66d99e{width:120px;height:298px;background-position:-0px -0px}
.UIMessageBox{padding:10px;border-width:1px;border-style:solid}
.UIMessageBox .sub_message{margin:4px 0 0}
.UIMessageBoxStatus{background-color:#fff9d7;border-color:#e2c822}
.UIMessageBoxError{background-color:#ffebe8;border-color:#dd3c10}
.UIMessageBoxError a{color:#dd3c10}
.UIMessageBoxExplanation{background-color:#fff;border-color:#bdc7d8}
.UIMessageBoxExplanation .main_message{font-size: 11px}
.UIMessageBoxExplanation a{color:#dd3c10}
.uiProgressBar{background:#fff;border:1px solid;border-color:#a4a4a4 #bbb #d5d5d5}
.uiProgressBar .fill{background:#6d84b4;border:solid #3b5998;border-width:1px 0 1px 1px;color:#fff;height:20px;margin:-1px;overflow:hidden;position:relative}
.uiProgressBarSmall .fill{height:8px}
.uiProgressBar .full{border-right:solid 1px #3b5998}
.uiProgressBar .empty{border-width:1px 0}
.uiProgressBar .label{white-space:nowrap;line-height:20px;display:inline-block;padding-left:5px}
.uiProgressBar .labelBack{position:absolute}
.uiQualityLevel{width:40px;padding-top:2px}
.uiQualityLevel .qualityBar .empty{border:solid #8d0d00;border-width:1px 0}
.weakQuality .qualityBar .fill{border:solid #8d0d00;background-color:#dc5857;border-width:1px 0 1px 1px}
.mediumQuality .qualityBar .fill{border:solid #af8506;background-color:#f7be21;border-width:1px 0 1px 1px}
.strongQuality .qualityBar .fill{border:solid #336421;background-color:#77bb4f;border-width:1px 0 1px 1px}
.strongQuality .qualityBar .full{border:1px solid #336421}
.uiInterstitial{-webkit-border-radius:4px;margin-left:auto;margin-right:auto}
.uiInterstitialSmall{width:445px}
.uiInterstitialLarge{width:555px}
.uiInterstitial .interstitialHeader{border-color:#ccc;padding-bottom:.5em}
.fullBleed .interstitialHeader{margin:0;padding:4px 12px 10px}
.uiInterstitialContent{margin-bottom:15px}
.fullBleed .uiInterstitialContent{margin:0;padding:0}
.uiInterstitialBar{border-bottom-right-radius:3px;border-bottom-left-radius:3px;-webkit-border-bottom-left-radius:3px;-webkit-border-bottom-right-radius:3px;line-height:16px;padding:8px 10px}
div.uiInterstitialWithStripes{background:transparent url(https://s-static.ak.facebook.com/rsrc.php/v1/y9/r/y7MG8IZpiC8.gif) repeat-x;padding-top:15px}
.captcha_input label{width:90px}
.captcha_input input{direction:ltr}
#reg_form_box .editor{margin:0 0 7px 0}
#reg_box{padding:0;margin:0}
#reg_box .label{color:#1d2a5b;text-align:right;padding-right:3px;width:90px}
#reg_box label{color:#1d2a5b;font-weight:bold;vertical-align:middle}
#reg_box .inputtext,#reg_box .inputpassword{width:206px;border-color:#96a6c5;margin-top:2px}
#reg_box select{margin:2px 0 0 0}
#reg_box #birthday_warning{font-size: 9px;margin-left:1px}
#reg_progress{font-size: 13px !important;text-align:center;margin:0;font-weight:bold;padding:0}
#reg_progress img{margin-right:15px}
#reg_progress #progress_wrap{padding:80px 0 0 0;margin:0;text-align:center}
#reg_progress .popup_retry{font-weight:normal;margin:auto;text-align:center;width:200px}
#terms{margin:0 5px 0 0}
#reg_form_box .reg_terms_box{margin-left:95px;padding-top:15px}
#openid_buttons_box{background:#fff9d7;border:solid 1px #e2c822;font-size: 10px;margin:0 0 10px 0;padding:10px}
select#openid_buttons_box{font-size: 11px}
p.legal_tos{color:#555;font-size: 9px;padding:0;margin:0 0 10px 0}
.option_field{margin-bottom:10px}
.option_field label{font-weight:normal !important}
#captcha_whatsthis{display:none}
#captcha_response{border:1px solid #bdc7d8;font-family:"lucida grande", tahoma, verdana, arial, sans-serif;font-size: 11px;padding:3px}
#reg_form_box .reg_btn{margin:0 0 0 95px}
#reg_form_box #cancel_button{float:left}
#reg_error,#captcha_error{background:#ffebe8;border:1px solid #dd3c10;line-height:15px;margin:10px 0 0 0;text-align:center;height:0;overflow:hidden}
#reg_error_inner{padding:7px 3px 7px 3px}
#reg_captcha{margin:0;padding:10px 0 0 0;line-height:16px}
#reg_captcha h2{color:#1d2a5b;padding-bottom:3px}
#reg_captcha #captcha div.captcha_input{margin:5px 0 7px 0;overflow:hidden}
#reg_captcha #captcha_buttons{padding:0;margin:5px 0 0 0;padding:10px 0 0 0;text-align:left;display:block;overflow:hidden}
#captcha_buttons .gridCol{float:left;overflow:hidden;margin:0}
#captcha_buttons #A_btn_sign_up{width:160px}
#captcha_buttons #back_button{width:101px}
#reg_captcha #cancel_button{float:left;font-size: 12px;line-height:14px;font-weight:bold;border:0 solid transparent;color:#3b5998;margin:6px 0 0 0;width:75px}
#reg_captcha .cancel_button_image{float:left;width:12px;height:17px;margin:6px 0 0 0;background-image:url(https://s-static.ak.facebook.com/rsrc.php/v1/yS/r/STeWPW2kh0m.png);background-position:center left;background-repeat:no-repeat}
#reg_captcha .pc_field_container{margin-left:6px}
#reg_captcha label{vertical-align:middle}
#reg_captcha .pc_email{border:1px solid #bdc7d8;font-size: 11px;padding:3px;width:140px}
#country_tos .reg_tos_section{width:295px;height:60px;overflow:auto;background:#fff;padding:5px;border:1px solid #bdc7d8}
#country_tos label{font-weight:normal}

#bootloader_1zPSk { height: 42px; }